body
{
background: url(bg.jpg) black no-repeat scroll center top;
background-repeat:no-repeat;
color:red;
}

table
{
font-size:15px;
color:black;
font-family:sans-serif;
}

#house
{
margin: 0 auto;
width:900px;

}

#header
{
width:900px;
height:190px;
text-align:center;
}

#content
{
width:900px;
margin-bottom:20px;
background-color:white;
height:180%;
}

#mainContent
{
width:560px;
float:left;
background-color:white;
margin-bottom:20px;
}

#written
{
margin-left:10px;
margin-right:10px;
margin-top:5px;
margin-bottom:5px;
font-size:15px;
color:black;
font-family:sans-serif;
}

#menu
{
background: url(menu.jpg) no-repeat scroll left top;
height:50px;
width:485px;
padding-left:75px;
padding-top:5px;
font-size:30px;
color:black;
font-family:sans-serif;
}


#menuLarge
{
background: url(menuLarge.jpg) no-repeat scroll left top;
height:50px;
width:900px;
padding-left:75px;
padding-top:6px;
font-size:30px;
color:black;
font-family:sans-serif;
}

#menubar
{
background: url(menubar.jpg) no-repeat scroll left top;
height:55px;
width:825px;
padding-left:75px;
padding-top:0px;
font-size:30px;
color:black;
font-family:sans-serif;
text-align:center;
}

#menubar_entry
{
padding-right:20px;
font-size:30px;
color:black;
font-family:sans-serif;
text-align:center;
}

#sidebar
{
width:340px;
float:right;
background: url(sidebarBg.jpg) repeat-x scroll left top;
height:100%;
}

#sidebarWritten
{
margin-left:10px;
margin-right:10px;
margin-top:5px;
margin-bottom:5px;
font-size:15px;
color:black;
font-family:sans-serif;
text-align:center;
padding-left:50px;
padding-top:20px;
}

#surveyanswer
{
margin-left:20px
}